<div class="texts-page">
  <div class="texts-page-body">
    <div class="form-hero">
      <div class="sec-eye">Bibliothèque</div>
      <div class="sec-title">Mes <em>textes</em></div>
    </div>

    <div class="texts-tabs">
      <%= link_to "Tous", articles_path(filter: "all"),
          class: "texts-tab #{'texts-tab-active' if @filter == 'all'}" %>
      <%= link_to "Favoris", articles_path(filter: "favourites"),
          class: "texts-tab #{'texts-tab-active' if @filter == 'favourites'}" %>
    </div>

    <div class="texts-cards">
      <% @articles.each do |article| %>
        <div class="text-card-item">
          <div class="text-card-icon">
            <i class="fa-regular fa-file-lines"></i>
          </div>
          <div class="text-card-body">
            <%= link_to article.title, article_path(article), class: "text-card-title" %>
            <div class="text-card-meta">
              <span class="ago-colour">Il y a <%= time_ago_in_words(article.created_at) %></span>
              <span class="text-card-tag">OD</span>
            </div>
          </div>
          <div class="text-card-actions">
            <%= link_to toggle_favourite_article_path(article), data: { turbo_method: :patch }, class: "text-card-fav #{article.favourite ? 'active-fav' : ''}" do %>
              <% icon_class = article.favourite ? "fa-solid fa-star" : "fa-regular fa-star" %>
              <i class="<%= icon_class %>"></i>
            <% end %>
            <%= link_to article_path(article), data: { turbo_method: :delete }, class: "text-card-delete" do %>
              <i class="fa-solid fa-trash-can"></i>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if @articles.empty? %>
        <div class="texts-empty">
          <div class="texts-empty-icon">
            <i class="fa-regular fa-file-lines"></i>
          </div>
          <div class="texts-empty-title">Aucun texte pour l'instant</div>
          <p class="texts-empty-sub">Importe ton premier texte pour commencer</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
