<div class="container">
  <%= simple_form_for @article, url: articles_path do |f| %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.hidden_field :source, value: "copy" %>
    <%= f.button :submit, "Créer", class: "btn-readapt"%>
    <%= link_to "Mes textes", articles_path, class: "btn-readapt" %>
  <% end %>
</div>
