<div class="container mt-2">
  <h2 class="title-import-pdf">Importe ton PDF </h2>
  <%= simple_form_for @article, url: articles_path do |f| %>
    <%= f.input :title, :label => "Titre" %>
    <%= f.input :document, as: :file %>
    <%= f.hidden_field :source, value: "import" %>
    <%= f.button :submit, "Importer", class: "btn-readapt"%>
  <% end %>

</div>
