<div class="container">
  <%= simple_form_for @text, url: texts_path do |f| %>
    <%= f.input :title %>
    <%= f.input :document, as: :file %>
    <%= f.hidden_field :source, value: "import" %>
    <%= f.button :submit, "Importer", class: "btn btn-success"%>
  <% end %>

  <div class="links">
    <%= link_to "Mes textes", texts_path, class: "btn-readapt" %>
  </div>
</div>
