<h1 class="text-center">
  <%= @text.title %>
</h1>

<div class="container">
  <div class="card d-flex">
    <div class="card-body justify-content-between align-items-center">
      <% if @text.content.present? %>
        <p><%= @text.content %></p>
      <% elsif @text.document.attached? %>
        <p>Fichier importé : <%= @text.document.filename %></p>
      <% else %>
        <p>Aucun contenu disponible</p>
      <% end %>
      <p><%= @text.translated_content %></p>
      <% if @text.formatted_content.present? %>
        <div class="mt-3">
          <h5>Texte reformaté pour la dyslexie</h5>
          <%=  simple_format(@text.formatted_content) %>
        </div>
      <% end %>
    </div>
  </div>
  <%= link_to "Retour", texts_path %>
</div>
