<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Readapt - Lire sans se battre" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Readapt">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/favicon-color.svg" type="image/svg+xml" media="(prefers-color-scheme: light)">
    <link rel="icon" href="/favicon-bw.svg" type="image/svg+xml" media="(prefers-color-scheme: dark)">
    <link rel="icon" href="/favicon-color.svg" type="image/svg+xml">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
    <script src="https://cdn.plyr.io/3.7.8/plyr.polyfilled.js" defer></script>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <div class="flex-main-content">
      <div class="main-content">
        <%= render "shared/navbar" %>
      <%# render "shared/flashes" %>
        <%= yield %>
      </div>
      <%= render "shared/navbar_bottom" %>
      <%= render "articles/new_text" %>
    </div>
  </body>
</html>
